*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    font-family: 'Space Grotesk';
    background-color: black;
    padding-top: 80px;
}
h1{
    font-family: 'Montserrat';
    text-align: center;
    margin: 30px 0px;
}
img{
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
}
.scroll{
    background-color: aliceblue;
    box-shadow: .1rem .2rem .3rem #333;
}
.scroll img{
    filter:invert(15%)
}
.scroll h1{
    color: #1a222e;
}
.carrito{
    filter: invert(100%);
    width: 45px;
    height: auto;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0,0.75);
    background-color:  #2c3544;
    border-radius: 20px;
}
.contenedor>div:hover{
    background-color: rgb(43, 49, 82);
}.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.informacion>p:first-child{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio{
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: #263143;
    width: 100px;
    height: 35;
    border-radius: 10px;
    border: none;
    
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover{
    background-color:  #1a222e;

}
.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
    
}
.modal-container::-webkit-scrollbar{
display: none;
}
.modal-header{
    border-radius: 5px 0 0 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(81, 90, 90);
    color: white;
    width: 100%;

}
.modal-header-title{
    justify-self: start;
}
.modal-header-button{
    cursor: pointer;
}
.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}
.modal-container > div > img {
    height: 120px;
    width: 120px;
}
.total-content{
    border-radius: 0 5px 0 0;
    background-color: rgb(81, 90, 90);
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}
.delete-product{
    cursor: pointer;
}
.cantidad-Carrito{
    padding: 3px;
    background-color: red;
    border-radius: 25px;
    font-size: 12px;
    position: absolute;
    display: none;
    right: 600px;
    margin: 2px;
}
.card{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.comprar{
    font-family: 'Montserrat';
    text-align: center;
    margin: 0;
    color:black;
    justify-content: center ! important;
    width: 120px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}
.price{
    text-align: center;
}
.h3Nombre{
    text-align: center;
}
.Modal-container{
    background-color: ;
}
.modal-Container{
    border:solid rgb(236, 240, 241);
    box-sizing: content-box;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
